.MuiDrawer-paper.navigation-drawer {
  min-width: 240px;
}

.MuiDrawer-paper.navigation-drawer .header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 10px;
}

.MuiDrawer-paper.navigation-drawer a {
  color: inherit;
}
